{%extends "registration/base.html"%}
{% load bootstrap4 %}
{% load crispy_forms_tags%}
{%load static%}
{% block content %}
<div class="container mt-3">
  <div class="row">
      <div class="col-md-3"></div>
      
      <div class="col-md-5 col-sm-8 mt-4">
          <div class="card pb-1">
              <div class="card-title mt-4">
                  <img src="{% static 'photos/logo1.png' %}" alt="" width="40%" class="logo">
                  <h4 class="text-center">Trouble Logging In?</h4>
                  <p class="text-muted pl-2 pr-2">Enter your email and we'll send you a link to get back into your account.</p>
              </div>
              <div class="card-body pb-1 mr-3 ml-3">
                  <form action="" method="post" novalidate>
                      {% csrf_token%}
                      {{ form|crispy}}
                      <button type="submit" class="btn btn-primary btn-sm login"> Send Login Link</button>
                  </form>
                  <p class="text-muted mt-3 text-center">---------------------  OR   ---------------------</p>
                                   
              </div>
              <h6 class="text-center mb-5"> <a href="{%url 'register'%}">Create New Account</a></h6>
              <!-- <small class="text-center"><i class="fab fa-facebook-f text-primary mr-2"></i><a  href="{% url 'social:begin' 'facebook' %}" class="text-center text-muted font-weight-bold text-primary face">Log in with Facebook</a></small>  -->
              <!-- <small class="text-center mb-2 mt-1 ml-2 mr-2"> <a href="{% url "social:begin" "facebook" %}"> Sign in with Facebook</a></small> -->
              <!-- <small class="text-center mb-2 mt-2 ml-2"><a href="" class="text-center pb-3">Forgot password? </a></small><br> -->
              
          </div>
      </div>
      <div class="col-md-4"></div>
  </div>
</div>

{% endblock %}
