{%extends "registration/base.html"%} 
{% load bootstrap5 %}
{% load crispy_forms_tags%}
{% block content %}
<div class="container">
  <div class="row">
    <!-- Empty div -->
    <div class="col-md-3"></div>
    <div class="col-md-6 content-section">
    <form action="" method="post">
      {%csrf_token%}
      <fieldset class="form-group">
        <legend class="border-bottom mb-2">Join Today</legend>

        {{form|crispy}}

      </fieldset>
      <div class="form-group">
        <button class="btn btn-outline-info" type="submit">Sign Up</button>
      </div>
    </form>
    <small class="text-muted"> Have an account? <a href="{%url 'login'%}">Log in here</a></small>
    </div>
    <!-- empty div -->
    <div class="col-md-3"></div>
  </div>
</div>

{% endblock %}