<nav class="navbar navbar-dark bg-dark mb-2">
  <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'home' %}">The Moringa Tribune</a>

      <div class="col-sm-4 col-md-4 form">

          <form class="navbar-form" role="search" action="">

              <div class="input-group">
                  <input type="text" class="form-control" placeholder="Search Article" name="article">
                  <div class="input-group-btn">
                      <button class="btn btn-primary " type="submit">SEARCH</button>
                  </div>
              </div>

          </form>
      </div>
      <div class="col-sm-6 col-md-6">
        {% if user.is_authenticated %}
        <ul>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle btn btn-default" data-toggle="dropdown" role="button" aria-expanded="false">Account
                      <span class="caret"></span>
                  </a>
            <ul class="dropdown-menu" role="menu">
              <li>
                <a href="{%url 'home'%}">Home</a>
              </li>
              <li>
                <a href="">Create Article</a>
              </li>
              <li>
                <a href="/accounts/password/change">Change Password</a>
              </li>
              <li>
                <a href="/logout">Logout</a>
              </li>
            </ul>
          </li>
        </ul>
        {% else %}
        <li class="">
          <a class='btn btn-default' href="/login">Login</a>
        </li>

        {% endif %}
      </div>
  </div>
</nav>