{%extends 'all-instagram/base.html'%}
{% load bootstrap5 %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %} 
{{ block.super}}

<div class="container mt-5">
    <div class="col-md-7">
        <div class="row">
            <button class="btn btn-sm btn-outline-primary ml-4 mb-3" data-toggle="modal" data-target="#imageUpload">
                Upload Image
            </button>
            <div class="modal fade" id="imageUpload" tabindex="-1" role="dialog"
                 aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle">Image Upload</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form action="" method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                {{ form|crispy }}
                                <button class="btn btn-sm btn-success">Upload</button>
                                <button type="button" class="btn btn-sm btn-outline-danger" data-dismiss="modal">
                                    Close
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-6">
        {%for post in posts%}
        <div class="card mb-4">
            <div class="card-header font-weight-bold">{{post.user.username}} </div>  
            <img class="card-img-top" src="{{post.image.url}}" alt=" " height="300">
            <div class="card-body">
            <!-- <h5 class="card-title">Card title</h5> -->
            <span>
                <a class="ml-3" href=""><span
                        style="font-size: 1.3em;"><i class="far fa-heart text-dark"></i></span>
                </a>
            </span>
            <span>
                <a class="ml-3" href=""><span
                        style="font-size: 1.3em;"><i class="far fa-comment text-dark"></i></span>
                </a>
            </span>

            <!-- <span style="font-size: 1.6em;  color:black " class="navbar-icons" ><i class="far fa-heart navbar-icons"></i></span> -->
            <p class="ml-2 mt-1"><span class="font-weight-bold">{{post.user}}</span> {{post.caption}}</p>
            <p class="ml-2 text-muted mt-2">View all comments</p>
            <small class="ml-2 text-muted mt-1">{{post.upload_date|timesince}} ago</small>
            </div>
            <div class="post-footer  text-muted">
                <form class="mb-0 ml-auto mr-auto" id="commentForm" action=" " enctype="multipart/form-data">
                    <input name="comment" autocomplete="off" id="comment" class="input-lg" 
                     placeholder="&#xF002; Add a comment ..."  style="font-family:Arial, FontAwesome">
                     <button class="btn btn-sm btn-info comment-button" type="submit">Post</button>
               </form>
            </div>
        </div>
        {%endfor%}
        </div>
        <div class="col-md-5"></div>
    </div>
</div>
{%endblock%}