{%extends 'all-instagram/base.html'%}
{% load bootstrap4 %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %} 
{{ block.super}}

<div class="container mt-3">
    <div class="col-md-7">
        <div class="row">
            <div class="modal fade" id="post-upload" tabindex="-1" role="dialog"
                 aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle">Create new post</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form action="" method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                {{ post_form|crispy }}
                                <button class="btn btn-sm btn-info">Upload</button>
                                <button type="button" class="btn btn-sm btn-outline-danger" data-dismiss="modal">
                                    Close
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-6">
            <button class="btn btn-sm mb-4 ml-2  upload-photo" type="button"  data-toggle="modal" data-target="#post-upload" >
                <i class="fas fa-upload"></i> Upload a Photo
            </button>
        {%for post in posts%}
        <div class="card mb-4">
            <a class="card-header font-weight-bold text-dark" href="{% url 'user_profile' post.user.username  %}">  <img src="{{post.user.profile.profile_pic.url}}"  alt= "" class="rounded-circle user">  {{post.user.username}} </a>  
            <a href="{% url 'comment' post.id %}"><img class="card-img-top" src="{{post.image.url}}" alt=" " height="350"></a>
            <div class="card-body">
            <span>
                <a class="ml-1" href="{%url 'like' post.id%}"><span
                        style="font-size: 1.3em;"><i class="far fa-heart text-dark"></i></span>
                </a>
            </span>
            <span>
                <a class="ml-3" href="{% url 'comment' post.id %}"><span
                        style="font-size: 1.3em;"><i class="far fa-comment text-dark"></i></span>
                </a>
            </span><br><br>
            <span class="ml-1 view" style="font-weight: bolder;" >{{post.likes}} likes</span><br><br>
            <span class="ml-1"><span class="font-weight-bold">{{post.user}}</span> {{post.caption}}</span><br>
            <p class="ml-1 text-muted view">View all {{ comment|length }} comments</p>
            <div class="ml-1">
                {% for comment in comments %}
                {% if comment.image_id == post.id%}
                <h5><strong>{{comment.user}}</strong> {{comment.comment}}</h5>
                <hr>
                {% endif %}
                {% endfor %}
            </div>

            <small class="ml-1 text-muted mt-1">{{post.upload_date|timesince|upper}} AGO </small>
            </div>
            <!-- <div class="post-footer  text-muted">
                <form class="mb-0 ml-auto mr-auto" id="commentForm" action=" " method="post">
                    <input name="comment" autocomplete="off" id="comment" class="input-lg" 
                     placeholder="&#xF002; Add a comment ..."  style="font-family:Arial, FontAwesome" required>
                     {% csrf_token %}
                     
                     <button class="btn btn-sm btn-info comment-button" type="submit">Post</button>
               </form>
            </div> -->
        </div>
        {%endfor%}
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-4">
            {%for comment in comments%}
                <p class="card-text text-muted">{{comment.image.id}}</p>
                <p class="card-text mb-3"><span style="font-weight: bolder;">{{comment.user.username}} </span>{{comment.comment}}</p>
        {%endfor%}
        </div>
    </div>
</div>
{%endblock%}