{%extends 'all-instagram/base.html'%}
{% load bootstrap5 %}
{% block content %} 
{{ block.super}}

<div class="container">
    <h1 class="text-center bg-info">Today is the day</h1>

    <div class="row gallery p-3" id="gallery">
        {%for photo in posts%}
        <div class="col-sm-8 col-lg-3 mb-3 imgdisplay"  data-toggle="modal" data-target="#{{photo.id}}">
            <img src="{{photo.image.url}}" alt=" " class="card-img photo" height="200">
            <p>{{photo.caption}}</p>
            <small id="photoDesc">{{photo.editor}}</small>
        </div>
        {%endfor%}
</div>
{%endblock%}